<!-- contact.html -->
{% extends "base.html" %} {% block content %}
<h2>Contact Me</h2>
<ol>
  <li>
    <!-- not linking directly to my page for privacy reasons -->
    <a href="https://www.linkedin.com" target="_blank">LinkedIn</a>
  </li>
  <li>
    <!-- not linking directly to my page for privacy reasons -->
    <a href="https://github.com/" target="_blank">GitHub</a>
  </li>
  <li>
    Email:
    <a href="mailto:tjackson325@student.umgc.edu" target="_blank"
      >tjackson325@student.umgc.edu</a
    >
  </li>
  <!-- not my phone number for privacy reasons -->
  <li>Mobile: 123-456-7891</li>
</ol>
{% endblock %}
