<!-- base.html -->
<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Terrence Jackson's Portfolio</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>

  <body>
    <header>
      <h1>Terrence Jackson</h1>
      <!-- Navigation bar -->
      <nav>
        <ul>
          {% if g.user %}
          <li><span>{{ g.user['Username'] }}</span></li>
          <li><a href="/">Home</a></li>
          <li><a href="{{ url_for('routes.about') }}">About</a></li>
          <li><a href="{{ url_for('routes.resume') }}">Resume</a></li>
          <li><a href="{{ url_for('routes.contact') }}">Contact</a></li>
          <li><a href="{{ url_for('auth.logout') }}">Log Out</a> {% else %}</li>

          <li><a href="{{ url_for('auth.register') }}">Register</a></li>
          <li>
            <a href="{{ url_for('auth.login') }}">Log In</a>
            {% endif %}
          </li>
        </ul>
      </nav>
    </header>

    <section class="content">
      {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
      {% endfor %} {% block content %}
      <!-- Content of specific page goes here -->
      {% endblock %}
    </section>

    <footer>
      {% block footer %}
      <p>&copy; 2024 My Portfolio</p>
      {% endblock %}
    </footer>
  </body>
</html>
